/* discussions-page */
  
  .discussions-page button {
    background-color: #5a3dc3ce;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5;
  }
  
  .discussions-page button:hover {
    background-color: #3ec4a9;
  }
  
  .discussions-page form {
    margin-top: 10px;
    background-color: rgba(60, 80, 120, 0.4);
    padding: 15px;
    border-radius: 8px;
    max-width: 1000px;
    width: 100%;
  }
  
  .discussions-page form input,
  .discussions-page form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a8b1c4;
    border-radius: 5px;
    background-color: #1f273b;
    color: white;
  }
  
  .discussions-page form button {
    background-color: #5a3dc3ce;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5;
  }
  
  .discussions-page form button:hover {
    background-color: #3ec4a9;
  }
  
  .discussions-page .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .discussions-page .pagination button {
    background-color: #5a3dc3ce;
    color: white;
    padding: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
  }
  
  .discussions-page .pagination button:hover {
    background-color: #3ec4a9;
  }
  